# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
tfplan
override.tf
override.tf.json
_override.tf
_override.tf.json
.terraformrc
terraform.rc

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
dist/
.DS_Store

# Zip files
*.zip

# Cloud Run / Local build artifacts
.gcloud/
