project_id       = "your-project-id"
region           = "us-central1"
domain           = "iam.reuellobo.xyz"
iap_admin_email  = "reuel.lobo@niveussolutions.com"
enable_iap       = false
iap_oauth_client_id     = ""
iap_oauth_client_secret = ""
existing_service_account_email = ""
cloud_run_service_account_id   = "iam-portal-run-sa"
create_firestore_database      = true
firestore_database_name        = "iam-access"
create_request_topic           = true
request_topic_name             = "iam-request-topic"
function_source_bucket_name    = ""
